/* Grundläggande stil för HTML och body */
html {
  font-size: 16px;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Formulärcentrering */
.form-group {
  margin-top: 1rem;
  text-align: center;
}

.form-control {
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Rubrik och huvudtextcentrering */
.text-center {
  text-align: center;
}

.display-4 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* Kart- och vädervisningsområde */
#map {
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

/* Stil för vädervisningsruta */
#weather {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #ddd;
  width: 300px;
  height: 300px;
  margin: 20px auto;
  padding: 10px;
}

/* Stil för väderikon och temperatur */
.weather-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

.display-4 {
  font-size: 2rem;
  margin-left: 10px; /* Mellanrum mellan ikon och temperatur */
}
.hourly-forecast {
  margin-top: 20px;
  text-align: center;
}

#hourly-temperature-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px 0;
}

.hour-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.hour {
  font-weight: bold;
}

.temp {
  color: #333;
  font-size: 1.2rem;
}